{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "ie": "11"
                },

                "exclude": [
                    "@babel/plugin-transform-typeof-symbol"
                ],

                "modules": false
            }
        ]
    ]
}